<style>
    body {
        font-family: "Helvetica", Arial, sans-serif;
    }

    .custom-table-container {
        display: flex;
        justify-content: center;
        margin: 20px;
    }

    .custom-table {
        border: none;
        border-collapse: separate;
        border-radius: 10px;
        overflow: hidden;
        font-family: "Helvetica", Arial, sans-serif;
        width: 100%;
        table-layout: fixed;
    }

    .custom-table thead th {
        background-color: #3439D6;
        color: #fff;
        text-align: center;
        white-space: nowrap;
    }

    .custom-table tbody td {
        background-color: #275FD0;
        color: #fff;
        height: 50px;
        text-align: center;
    }

    .title {
        font-size: 32px;
        text-align: center;
        margin-bottom: 20px;
    }

    .empty-message {
        text-align: center;
        padding: 20px;
        background-color: #F7F7F7;
        color: #333;
        border-radius: 10px;
        font-size: 18px;
    }

    .add-product-button {
        text-align: right;
        margin-top: 20px;
        margin-right: 20px;
    }

    .add-product-button button {
        font-family: "Helvetica", Arial, sans-serif;
        font-size: 20px;
        padding: 10px 20px;
        background-color: #3439D6;
        color: #fff;
        border: none;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

    .add-product-button button:hover {
        background-color: #638DE1;
        border: 1px solid #000;
    }
</style>

<div class="title">
    Productos
</div>

{% if productos %}
<div class="custom-table-container">
    <div class="table-responsive">
        <table class="table table-striped custom-table text-center">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Fecha de Registro</th>
                    <th scope="col">Estatus</th>
                </tr>
            </thead>
            <tbody>
                {% for producto in productos %}
                <tr>
                    <td>{{ producto.nombre }}</td>
                    <td>{{ producto.descripcion }}</td>
                    <td>{{ producto.precio }}</td>
                    <td>{{ producto.fecha_de_registro }}</td>
                    <td>{{ producto.estatus }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% else %}
<div class="empty-message">
    Aún no hay productos registrados.
</div>
{% endif %}

<div class="add-product-button">
    <button type="button" class="btn btn-primary">Agregar producto</button>
</div>