<style>
    .custom-table-container {
        display: flex;
        justify-content: center;
        margin: 20px;
    }

    .custom-table {
        border: none;
        border-collapse: separate;
        border-radius: 10px;
        overflow: hidden;
        font-family: "Helvetica", Arial, sans-serif;
        width: 100%;
        table-layout: fixed;
    }

    .custom-table thead th {
        background-color: #3439D6;
        color: #fff;
        text-align: center;
        white-space: nowrap;
    }

    .custom-table tbody td {
        background-color: #275FD0;
        color: #fff;
        height: 50px;
        text-align: center;
    }
</style>

<div class="custom-table-container">
    <div class="table-responsive">
        <table class="table table-striped custom-table text-center">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Fecha de Registro</th>
                    <th scope="col">Estatus</th>
                </tr>
            </thead>
            <tbody>
                {% for producto in productos %}
                <tr>
                    <td>{{ producto.nombre }}</td>
                    <td>{{ producto.descripcion }}</td>
                    <td>{{ producto.precio }}</td>
                    <td>{{ producto.fecha_de_registro }}</td>
                    <td>{{ producto.estatus }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>